body {
  font-family: "Montserrat", sans-serif;
}



.container-fluid {
  padding: 3% 15% 7%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}



p {
  color: #5c5c5c;
}

/* Title Section */


#title {
  background-color: #ff4c68;
}

#title h1 {
  color: #fff;

  font-weight: 730;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {

  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;


}

/* Features Section */
#features {
  padding: 10% 20%;
  text-align: center;
  padding: 5%;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

#features h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#testimonials h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}



.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#press img {
  width: 12%;
  margin: 20px 20px 50px 20px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

#pricing h2 {

  font-weight: 580;
  font-size: 3rem;
  line-height: 1.5;
}

#pricing h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

#cta h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 730;
  font-size: 2rem;
}

/* Footer */

#footer {
  text-align: center;
  padding: 7% 15%;
}

.social {
  font-size: 1rem;
  padding: 0 1% 1% 1%;
}

/* Responsive Breakpoints */



/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #title {
    text-align: center;
  }

  #title h1 {
    font-size: 1.2rem;
  }

  .title-image {
    position: static;
    transform: rotate(0);

  }


  #testimonials h2 {
    font-size: 20px;
  }

  #pricing {
    padding: 5%;
  }

  #pricing h2 {
    font-size: 2.2rem;
  }

  #cta h3 {
    font-size: 1.8rem;

  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #title {
    text-align: center;
  }



  .title-image {
    position: static;
    transform: rotate(0);

  }

  #testimonials h2 {
    font-size: 30px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  #title h1 {
    font-size: 2.2rem;
  }




}